// $hpclr1:linear-gradient(135deg,#0061f2,rgba(105,0,199,.8));
$hpclr1:linear-gradient(135deg, #6273ff 0%, rgba(91, 218, 201, 0.8) 100%);
$hpclr2:#f2f6fc;
$hpclr3:pink;
.home-page{
.nav-container{
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 10;
  .app-logo{
    img{
      width: 45%;
    }
  }
  .hmburger{
    display: none;
    color: white;
    cursor: pointer;
    @include for-norml-layout{
      display: block;
    }
  }
  .open-nav.nav-home-page{
    visibility: visible;
  }
  .nav-home-page{
    // width: 372px;
    text-transform: capitalize;
    @include for-wide-layout{
      width: 50%;
    }
    @include for-norml-layout{
      visibility: hidden;
      position: fixed;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: flex-start;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100vw;
      background-color: rgb(255, 255, 255);
    }
    a{
      padding: 10px 8px;
      margin: 5px;
      border-radius: 10px;
      color: white;
      @include for-norml-layout{color:black;}
      &:hover{
        color: #a1a1d2;
      }
      &:active{
        background-color: white;
        box-shadow: 0px 0px 2px 0px black;
      }
    }
  }
}
.hero-homepage{
  position: relative;
padding-top: 9.5rem;
padding-bottom: 8rem;
  background-color: #212832;
  background-image:$hpclr1;
  margin-top: -50px;
  .main-hero{
    padding-top: 6rem;
    .content-container{
      .title-hero{
        font-family: open-sans-bold-strong;
        text-shadow: -2px -2px 0px black;
        margin-bottom: 6px;
        font-size: 2.5rem;
        color: #fff;
      }
      .hero-txt{
        line-height: 1.3;
        width: 65ch;
        margin-bottom: 3rem;
        font-size: 1.15rem;
        color: hsla(0,0%,100%,.5) !important;
      }
    }
    .img-hero img{
      vertical-align: middle;
      height: auto;
      max-width: rem(450px);
        @include for-narrow-layout {
   display: none;
  }
    }

  }

}
.main-features{
  background-color: white;
  padding: 6rem 0;
  .features-cotainer{
    width: 100%;
    padding:0 3rem;
    .feature-box{
      padding: 0 rem(24px);
     flex: 0 0 calc(100%/3);
     max-width: calc(100%/3);
     .icon-box-container{
       background-image: $hpclr1;
       border-radius: 50%;
       padding: 10px;
       height: rem(80px);
       width: rem(80px);
       margin-bottom: 1.5rem;
       i{
       color:white;
        font-size: 1.75rem;
       }
     }
     .content-container{
      .title-box{
        font-size: 1.6rem;
        font-weight: bold;
line-height: 1.2;
color: #363d47;
        margin-bottom: 7px;
        text-align: center;
       }
       .txt-box{
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        width: 20ch;
       }
     }
   
    }
  }

}
    .main-benefits{
      width: 100%;
      background-color: $hpclr2;
      padding: 6rem  rem(96px);
      

      .benefit-card{
    
        justify-content: space-evenly;
        margin: 10px;
         .benefit-img{
          
        @include for-norml-layout {
            display: flex;
            align-items: center;
            justify-content: center;
            order: 0;
            img{
              max-width: 500px;
            }
          }
          }
        .benefit-content{
   
      @include for-norml-layout{
        margin-bottom: 19px;
      }
          .benefit-title{
            font-size: 40px;
          line-height: 48px;
        }
        

       
      }
        
     
    }

}
}

// helpers:

.svg-border{
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2rem;
  width: 100%;

}

.hm-container{
  max-width: 1250px;
  margin: 0 auto;
  @include for-wide-layout{
    max-width: 850px;

  }
@include for-narrow-layout {
  max-width: 650px;}
  @include for-max-narrow-layout{
    padding: 0 10px;
  }

}
.change-color-nav{
  background-color: #212832 ;
  a{
    color: hsla(0,0%,100%,.5);
    &:hover{
      color: hsla(0,0%,100%,.75);
    }
  }
}