.home-page {
font-family: 'sofia-regular','Ariel';
  .nav-container {
    width: 100%;
    transition: 0.5s;
    position: fixed;
    top: 0;
    padding: 15px 20px;
    .logo1 {
      width: 215px;
    }
    .nav-home-page {
      width: fit-content;
      .btn-nav {
        color: white !important;
        padding: 10px 20px;
      }
      > *:not(:last-child) {
        font-family:  'sofia-light','Ariel';
        color: rgb(61, 61, 61);
        transition: 0.5s;
        text-transform: capitalize;
        border-radius: 20px;
        margin: rem(5px);
        padding: 5px 12px;
        display: inline-block;
        &:hover {
          cursor: pointer;
          color:#595ad4;
        }
            
        }
      }
    }
  .main-content {
    &.top-hero {
      padding-top: 53px;
    }
    .hero-homepage {
      margin-top: -55px;
      &.hero-container {
        background: rgba(255, 255, 255, 0.842);
        height: 100%;
      }
  
      .main-hero-contant {
        padding: 180px 150px 0 150px;
        .content-container {
          color: rgb(61, 61, 61);
          flex-basis: 50%;
          margin-top: 55px;
          h1 {
            font-family: 'sofia-regular','Ariel';
            font-size: rem(40px);
            letter-spacing: 1px;
            text-shadow: 0 2px 2px rgba(235, 235, 235, 0.91);
          }
          > * {
            margin-bottom: rem(20px);
          }
          p {
            color: rgb(61, 61, 61);
            width: 75ch;
          }
        }
        .img-home-page {
          height: rem(250px);
        }
      }
    }
  }
}
