.nav-container {
  width: 100%;
  transition: 0.5s;
  position: fixed;
  top: 0;
  padding: 15px 20px;
  .logo1 {
    width: 215px;
  }
  .nav-home-page {
    width: fit-content;
    > * {
      font-family: roboto-regular;

      text-shadow: 0 1px 0px #020202;
      color: white;
      transition: 0.5s;
      text-transform: capitalize;
      border-radius: 20px;
      margin: rem(5px);
      padding: 5px 12px;
      display: inline-block;
      &:hover {
        background-color: rgb(186, 186, 186);
      }
    }
  }
}
.main-content {
  height: 100vh;
  &.top-hero {
    padding-top: 53px;
  }
  .hero-homepage {
    margin-top: -55px;
    &.hero-container {
      background: linear-gradient(180deg, #3867d6, #2550b6);
      padding-right: 110px;
      padding-left: 70px;
      height: 100%;
    }

    .main-hero-contant {
      padding-top: 180px;
      .content-container {
        color: white;
        flex-basis: 50%;
        margin-top: 55px;
        h1 {
          font-family: roboto-regular;
          font-size: rem(30px);
          letter-spacing: 1px;
          text-shadow: 0 2px 2px rgba(26, 60, 138, 0.91);
        }
        > * {
          margin-bottom: rem(20px);
        }
        p {
          width: 75ch;
        }
      }
      .img-home-page {
        height: rem(300px);
      }
    }
  }
}
