.home-page {
font-family: 'sofia-regular','Ariel';
background-image: linear-gradient(135deg, rgba(248, 250, 240, 0.8) 0%, #d8e0e6 100%);

// background-image: linear-gradient(135deg, #d8e0e6 0%, rgba(248, 250, 240, 0.8) 100%);
&.page-dark{
  background-color: #212832;
}
.img-right{
  z-index: 2;
  top: 446px;
  right: 0;
  position: absolute;
  // bottom: 68px;
  // right: 169px;
  width: fit-content;
  height: 223px;
  background-color: transparent;
}
  .nav-container {
    background-color:transparent;
    width: 100%;
    transition: 0.5s;
    position: fixed;
    top: 0;
    z-index: 5;
    padding: 15px 20px;
    .logo1 {
      width: 225px;
        }
        .container-nav{
          padding-top: 15px;
          padding: 0 150px;
          width: 100%;
          margin: 0 auto;
          display: flex; 
          justify-content: space-between;
        }
    .nav-home-page {
      width: fit-content;
      .btn-nav {
        color: white !important;
        padding: 10px 20px;
      }
    
      > *:not(:last-child) {
        font-family:  'sofia-light','Ariel';
        color: rgb(61, 61, 61);
        transition: 0.5s;
        text-transform: capitalize;
        border-radius: 20px;
        margin: rem(5px);
        padding: 5px 12px;
        display: inline-block;
        &:hover {
          cursor: pointer;
          color:#595ad4;
        }
            
        }
      }
    }
  .main-content {
    svg.wave{
      position: absolute;
      bottom: 0;
      fill: #d8e0e6;
    }
    .main-btn {
      margin-top: 1rem;
      margin-bottom: unset;
    }
    &.top-hero {
      padding-top: 53px;
    }
    .hero-homepage {
      margin-top: -55px;
      &.hero-container {
        //background: linear-gradient(180deg,#3867d6,#2550b6
        //background-image: linear-gradient(135deg, #1da1f5 0%, rgba(128, 57, 218, 0.8) 100%);
        // background-image: linear-gradient(135deg, #d8e0e6 0%, rgba(248, 250, 240, 0.8) 100%);
        background-image: linear-gradient(135deg, rgba(248, 250, 240, 0.8) 0%, #d8e0e6 100%);
        height: 100%;
      }
  
      .main-hero-contant {
        padding: 180px 150px 0 150px;
        height: 100vh;
        .content-container {
          color: rgb(61, 61, 61);
          flex-basis: 50%;
          margin-top: 55px;
          h1 {
            font-family: open-sans-bold-strong;
            // font-family: 'sofia-regular','Ariel';
            font-size: rem(40px);
            letter-spacing: 1px;
            color: white;
            text-shadow: 0 2px 2px rgb(155 155 155 / 91%);
            // text-shadow: 0 2px 2px rgba(26,60,138,.91);
            // text-shadow: -2px -2px 2px rgb(255 255 255 / 91%);
          }
          > * {
            margin-bottom: rem(20px);
          }
          p {
            // color: white;
            color: rgb(61, 61, 61);
            width: 75ch;
            line-height: 1.5;
          }
        }
        .img-home-page {
          height: rem(250px);
        }
      }
    }
  }
  .second-section{
    margin: 250px 0;
    

    .card-container{
      flex-basis:50% ;
    }
  }
}
.img-second-section{
  z-index: 2;
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 39%;
  height: 320px;
  background-color:transparent;
}
.img-bottom{

  position: absolute;
  bottom: 0;

}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	-moz-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}



@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
