.task-details-section {

  .el-tabs__item {
    transition-duration: 0.4s;
  }

  .task-title-container {
    margin-top: 35px;
    .task-title {
      font-size: rem(22px);
      font-family: 'roboto-regular','Ariel';
      overflow: hidden;
      height: 30px;
      max-width: 500px;
    }
  }

  .task-post-txt {
    font-weight: bold;
  }
  .posts-list {
    height: 71vh;
    overflow: auto;
  }
}
