// SETUP
@import 'setup/typography';
@import 'setup/variables';
@import 'setup/mixins';
@import 'setup/functions';
@import 'basics/fonts';
// BASICS
@import 'basics/helpers';
@import 'basics/base';
@import 'basics/layout';

// COMPONENTS
@import 'cmps/nav-menu';
@import 'cmps/board-list';
@import 'cmps/task-preview';
@import 'cmps/group-list';
@import 'cmps/group-preview';

