* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto-thin;
}
html {
  font-size: 16px;
  color: rgb(61, 61, 61);
}
body {
  height: 100vh;
}
button {
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;
  background-color: #0085ff;
  &.hover {
    background-color: #0071d9;
  }
  &.white {
    border: 1px solid #e6e9ef;
    color: #323338;
    padding: 8px 16px;
    &.hover {
      background-color: #e6e9ef;
    }
  }
}

img {
  width: 100%;
}
