
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    /*buuton*/
<<<<<<< HEAD
    html{
        font-size: 16px;
    }
    body{
        height: 100vh;
    }
=======

    
>>>>>>> 897b84bf765fb1b3402272d356b3c12e721bb9ff
    button {
        cursor: pointer;
        border-radius: 2px;
        transition: .3s;
        background-color: #0085FF;
        &.hover {
            background-color: #0071D9;
        }
        &.white {
            border: 1px solid #E6E9EF;
            color: #323338;
            padding: 8px 16px;
            &.hover {
                background-color: #e6e9ef;
            }
        }
    }
    
    img {
        width: 100%;
    }