@font-face {
    font-family: roboto-thin;
    src: url(~@/assets/fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(~@/assets/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(~@/assets/fonts/Roboto-Medium.ttf);
}


@font-face {
    font-family: roboto-regular;
    src: url(~@/assets/fonts/Roboto-Regular.ttf);
}


