/* helpers! */
.darkMode {
  background-color: #202c37 !important;
  color: #fff !important;
  > * {
    background-color: #202c37 !important;
    color: #fff !important;
  }
  button {
    color: #fff !important;
  }
}
/* Flex Helpers! */

.flex {
  display: flex;
  &.space-around {
    justify-content: space-around;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center;
  }
  &.space-evenly {
    align-items: center;
  }
  &.end {
    align-self: end;
  }
  &.align-self-end {
    align-self: flex-end;
  }
  &.column {
    flex-direction: column;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.justify-center {
    justify-content: center;
  }
  > .grow {
    flex-grow: 1;
  }
}

.width100 {
  width: 100%;
}

.relative {
  position: relative;
}

/* Ul */

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.loader-app {
  height: 90px;
  width: 90px;
}

.back-drop-layer {
  background-color: rgba(0, 255, 255, 0.221);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.editable {
  border: 1px solid transparent;
  display: inline-block;
}
.editable:hover {
  border: 1px dashed black !important;
  width: fit-content;
}

.ratio-square {
  @include aspect-ratio(1, 1);
}
//search input-list:
.board-search {
  .search-input {
    &::placeholder {
      color: rgb(61, 61, 61);
      font-size: 0.9rem;
      padding-left: 25px;
    }
    padding-left: 5px;

    width: 210px;
    height: 32px;
    outline: none;
    border: none;
    background-color: transparent;
    &:hover {
      cursor: pointer;
    }
  }
}
