.status-preview {
  width: 230px;
  border-radius: 5px;
  vertical-align: top;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  height: fit-content;
  .tasks-preview-container{
    // min-height: 150px;

    max-height: 600px;
    overflow-y: auto;
    .drag-canvan{
    min-height: 116px;

    }
  }
  .status-title {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    font-size: 18px;
    padding: 8px 0 8px 10px;
    align-self: start;
  }
  .input-container{
    // padding-right: 4px;
    width: 195px;
    height: 45px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;
  .add-task-form {
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 8px;

    .add-btn {
      // position: absolute;
      // right: 0;
      color: white;
      border-radius: 4px;
      // border-top-right-radius: 4px;
      // border-bottom-right-radius: 4px;
      min-height: 32px;
      font-size: 14px;
      margin-right: 6px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // margin: 2px;
      // height: 100%;
      // width: 100%;
      // padding: 0;
      // top:0;
   
    }
  
    .add-task-input {
      background-color: transparent;
      width: 100%;
      border: none;
      outline: none;
      // margin-left: 8px;
      // padding: 5px 0 5px 10px;
      // margin-bottom: 10px;
      &::placeholder {
        color: #ffffff;
       
      }
      &:focus {
        color: rgb(46, 46, 46);
        // background-color: white;
        border-radius: 5px;
        width: 170px;
        height: 100%;
    // padding-left: 10px;

      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

}
