.members {
  position: absolute;
  right: 0;
  top: 20px;
  background-color: white;
  box-shadow: 0 0 1px black;
  padding: 0.8rem;
  z-index: 1500;
  width: 165px;
  border-radius: 4px;

  h3 {
    font-size: rem(15px);
    margin: rem(10px) 0;
  }
  .member-name {
    margin: 0 rem(5px);
    font-size: rem(13px);
    font-weight: bold;
  }
  .first {
    border-bottom: 1px solid rgb(211, 211, 211);
    li:last-child {
      margin-bottom: 5px;
    }
  }
  .action-icon {
    color: $clr1;
    margin: rem(3px);
  }
}
