.members {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 1px black;
  padding: 5px 10px;
  z-index: 1500;
  width: 165px;
  border-radius: 4px;
  &.top-right {
    right: 15px;
  }
  &.top-left {
    top: 3px;
    left: 25px;
  }
  .member {
    position: relative;
    padding-bottom: 0.2rem;
    height: fit-content;

    .member-name {
      margin: 0;
      font-size: rem(13px);
      font-weight: bold;
      text-align: left;
      padding-left: 5px;
    }
    .action-icon {
      color: $clr1;
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  h3 {
    font-size: rem(15px);
    margin: rem(10px) 0;
  }

  .first {
    border-bottom: 1px solid rgb(211, 211, 211);
    li:last-child {
      margin-bottom: 5px;
    }
  }
}
.members-list-section{
  .member {
    width: 100%;
    >*{
      margin-left: 10px;
      
    }
    button{
      justify-self:flex-end;
    }
  }
}