.board-app {
    .board-control {
        height: 120px;
        border-bottom: 1px solid gray;
        padding: 30px 30px 0px 30px;
    }

    .backdrop-layer {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 5;
        background-color: black;
        opacity: 0.6;
    }
.task-details-section{
    .top-bar{
        text-align: left;
        margin: 20px 20px 6px 24px;
    }
}
    .boardapp-nested{
        z-index: 10;
        // position: fixed;
        z-index: 1000;
        background-color: white;
        width: 550px;
        box-shadow: 0px 0px 10px 0px #999;
    }
}