.board-header {
  padding: 30px 30px 0;
  height: 160px;
  border-bottom: 0.3px solid rgb(221, 221, 221);
  position: relative;
  .board-name {
    margin-bottom: 0.3rem;
  }
  .board-descriotion {
    margin-bottom: 2.2rem;
  }
  .board-info {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 30px;
    padding-top: 30px;
  }
}
