.board-app {
  background-color: #f7f7f7;

  .board-control {
    border-bottom: 1px solid rgba(165, 165, 165, 0.714);
    padding: rem(15px) rem(30px) rem(0px) rem(20px);
  }
  .board-up {
    background-color: #f7f7f7;
    
    padding: 30px 30px 0px 30px;
  }
  .board-header-top {
    padding: 0px 20px 0px 20px;

    .right {
      z-index: 55;
      top: 10px;
      right: 30px;
    }
    .board-name-title {
      font-weight: bolder;
      text-transform: capitalize;
      margin-bottom: rem(16px);
    }
  
  }
  .backdrop-layer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    background-color: black;
    opacity: 0.4;
    transition: 0.4;
  }

  .boardapp-nested {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #999;
  }
}
