.board-header {
  padding: 30px 30px 0;
  height: 160px;
  border-bottom: 0.3px solid rgb(221, 221, 221);
  position: relative;
  @include for-wide-layout {
    padding: 1.5rem;
  }

  .board-name {
    font-family: 'roboto-regular', 'Ariel';
    margin-bottom: 0.3rem;
    max-width: 500px;
    overflow: hidden;
    height: 35px;
  }
  .board-descriotion {
    margin-bottom: 1.2rem;
    max-width: 500px;
    overflow: hidden;
    height: 25px;
    
  }
  .board-info {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 30px;
    padding-top: 30px;
    >*{
      margin: 5px;
    }
  }
}
