.board-app {
    .board-control {
        height: rem(120px);
        border-bottom: 1px solid gray;
<<<<<<< HEAD
        padding: rem(30px) rem(30px) rem(0px) rem(30px);
=======
        padding: 15px 30px 0px 30px;
>>>>>>> 3641f725d5d5d4c1c8db3bcc825c63cde9f1d0c6
    }
.board-up-header{
    padding:20px ;
    
        .right{
            z-index: 55;
            top:10px;
            right:30px;
        }
        .board-name-title{
            font-weight:bolder ;
            text-transform: capitalize;
        }
}
    .backdrop-layer {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 5;
        background-color: black;
        opacity: 0.4;
        transition: 0.4;
    }

    .task-details-section {
        padding-right: rem(20px);
        padding-left: rem(24px);

        .top-bar {
            text-align: left;
            // margin: 20px 20px 6px 24px;
        }
    }

    .boardapp-nested {
        z-index: 10;
        // position: fixed;
        z-index: 1000;
        background-color: white;
        width: 550px;
        box-shadow: 0px 0px 10px 0px #999;
    }
}