.board-activiites {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: whitesmoke;
  padding: 0 20px;
  .board-activity-title-container {
    margin-top: 30px;
    margin-bottom: 25px;
    .title {
      font-size: rem(22px);
      font-family: 'roboto-regular', 'Ariel';
      overflow: hidden;
      height: 30px;
      max-width: 500px;
      margin-bottom: 10px;
    }
    .activities-title {
      font-size: 1rem;
    }
  }
  .cls-btn {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 15px;
    i {
      cursor: pointer;
      font-size: 1rem;
      color: rgb(143, 143, 143);
      &.hover {
        color: rgb(58, 58, 58);
      }
      .fas {
        font-weight: 500;
      }
    }
  }
}
