.board-app {
    .board-control {
        height: rem(120px);
        border-bottom: 1px solid gray;
        padding: rem(30px) rem(30px) rem(0px) rem(30px);
    }

    .backdrop-layer {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 5;
        background-color: black;
        opacity: 0.4;
        transition: 0.4;
    }

    .task-details-section {
        padding-right: rem(20px);
        padding-left: rem(24px);

        .top-bar {
            text-align: left;
            // margin: 20px 20px 6px 24px;
        }
    }

    .boardapp-nested {
        z-index: 10;
        // position: fixed;
        z-index: 1000;
        background-color: white;
        width: 550px;
        box-shadow: 0px 0px 10px 0px #999;
    }
}