.board-app {
    .board-control {
        height: rem(120px);
        border-bottom: 1px solid gray;
        padding: rem(15px) rem(30px) rem(0px) rem(30px);
    }
.board-up-header{
    padding:20px ;
    
        .right{
            z-index: 55;
            top:10px;
            right:30px;
        }
        .board-name-title{
            font-weight:bolder ;
            text-transform: capitalize;
        }
}
    .backdrop-layer {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 5;
        background-color: black;
        opacity: 0.4;
        transition: 0.4;
    }
    
    .boardapp-nested {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 10;
        background-color: white;
        box-shadow: 0px 0px 10px 0px #999;
    }

}