.board-header {
  padding: 30px 50px;
  height: 160px;
  border-bottom: 0.3px solid rgb(221, 221, 221);
  position: relative;
  @include for-wide-layout {
    padding: 1.5rem;
  }

  .board-name {
    font-size: 32px;
    font-family: 'roboto-regular', 'Ariel';
    margin-bottom: 0.3rem;
    max-width: 500px;
    overflow: hidden;
    height: 35px;
  }
  .board-descriotion {
    font-size: 16px;
    color: #676879;
    // margin-bottom: rem(5px);
    max-width: 500px;
    overflow: hidden;
    height: 25px;
  }
  .board-creator{
    margin-bottom: rem(10px);
  }
  .board-info {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 50px;
    padding-top: 30px;
    
    @include for-wide-layout {
      padding-right: 1.5rem;
    }
    .btn-members-container {
      background-color: transparent;
      &:hover {
        cursor: pointer;
      }
      margin: 0 1rem;
    }
    .btn-activity-container {
      margin-left: 15px;
      .btn-activity {
        width: 70px;
        height: 40px;
      }
    }
  }
  .display-mode {
    input {
      width: 120px;
      height: 28px;
      font-size: 0.9rem;
      .el-input__inner {
        padding: 0;
      }
    }
    .el-input__icon {
      height: 100%;
      text-align: center;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      line-height: 30px;
    }
  }
}

.opt {
  .menu-icon {
    font-size: 0.9rem;
    .inner-txt {
      font-family: 'roboto-light';
      margin-left: 5px;
    }
  }
}
