.board-header {
  padding: 30px 50px;
  height: 160px;
  border-bottom: 0.3px solid rgb(221, 221, 221);
  position: relative;
  @include for-wide-layout {
    padding: 1.5rem;
  }

  .board-name {
    font-size: 28px;
    font-family: 'roboto-regular', 'Ariel';
    margin-bottom: 0.3rem;
    max-width: 500px;
    overflow: hidden;
    height: 35px;
  }
  .board-descriotion {
    font-size: 14px;
    color: #676879;
    margin-bottom: 1.2rem;
    max-width: 500px;
    overflow: hidden;
    height: 25px;
  }
  .board-info {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 50px;
    padding-top: 30px;
    @include for-wide-layout {
      padding-right: 1.5rem;
    }
    .btn-members-container {
      background-color: transparent;
      &:hover {
        cursor: pointer;
      }
    }
    .btn-activity-container {
      .btn-activity {
        width: 70px;
        height: 40px;
      }
    }
  }
}
