.board-filter {
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 8px 30px;
  .filter-actions {
    > * {
      padding: 0.5rem;
    }

    .filter {
      width: 80px;
      height: 32px;
      .filters-txt {
        position: absolute;
        top: 4px;
      }
      cursor: pointer;
      &:hover {
        background-color: #e6e9ef;
        border-radius: 4px;
      }
      .filter-icon {
        font-size: 0.9rem;
      }
      .filters {
        font-size: 0.9rem;
        position: absolute;
        z-index: 6;
        top: 40px;
        right: 0;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
        cursor: auto;
        box-shadow: 0 3px 10px -5px #484444;
        &:hover {
          opacity: 1;
          transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }
        &.expanded {
          animation: expand-menu 0.2s;
        }
      }
    }
    .add-group-btn {
      height: 32px;
      border: none;
      outline: none;
      border-radius: 4px;
      color: white;
      font-family: 'roboto-regular','Ariel';
      transition-duration: 0.3s;
      margin-right: rem(25px);
      &:hover {
        background-color: #1574cb;
      }
    }
    .input-container {
      width: 100px;
      height: 32px;
      &:hover {
        background-color: #e6e9ef;
        border-radius: 4px;
        cursor: pointer;
        // padding: 5px;
      }
      &.input-expanded {
        width: 160px;
        border: 1px solid $clr1;
        border-radius: 4px;
      }
      .search-icon {
        position: absolute;
        left: 8px;
        bottom: 10px;
        font-size: 0.9rem;
        &.icon-expanded {
          left: 22px;
        }
      }
      .search-input {
        width: 80px;
        height: 32px;
        outline: none;
        border: none;
        text-align: center;
        background-color: transparent;
        &:hover {
          cursor: pointer;
        }
        &::placeholder {
          font-family: 'roboto-light','Ariel';
          font-size: 0.9rem;
          color: rgb(53, 53, 53);
        }
      }
    }
  }
}
@keyframes expand-menu {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 40px;
  }
}
