.board-filter {
  .filter-actions {
    width: 360px;
    > * {
      padding: 0.5rem;
    }
    .add-group-btn,
    .filter {
      margin-right: rem(5px);
      cursor: pointer;

      .filters {
        position: absolute;
        z-index: 6;
        top: 105px;
        right: 0;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
        cursor: auto;
        box-shadow: 0 3px 10px -5px #484444;
        &:hover {
          opacity: 1;
          transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }
        button {
          padding: 8px;
          margin: 5px;
          background-color: transparent;
          border: 1px solid black;
        }
      }
    }
    .add-group-btn {
      height: 32px;
      border: none;
      outline: none;
      border-radius: 4px;
      color: white;
      font-family: 'roboto-regular';
      transition-duration: 0.3s;
      &:hover {
        background-color: #1574cb;
      }
    }
    .search-input {
      width: 80px;
      outline: none;
      border: none;
      border-bottom: 1px solid gray;
      text-align: center;
      background-color: transparent;
    }
  }
}
