.colors-container {
    position: absolute;
    width: 170px;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    background-color: white;
    border-radius: rem(10px);
    z-index: 1500;
    box-shadow: 0 3px 10px -5px #484444;
  .color {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 3px;
    border-radius: 50%;
    border: 1px solid rgb(54, 53, 53);
    transition: all 0.3s;
    margin-inline-start: 2px;
    &:hover {
      transform: scale(1.1);
    }
  }
}
