.filter-form {
  margin-right: 5px;
  .filter-title {
    font-size: 13px;
    color: #808080;
    margin: 3px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 8px;
  }

  .filter-btn {
    font-family: 'roboto-light','Ariel';
    border: none;
    width: 140px;
    position: relative;
    display: flex;
    height: 32px;
    background: #f5f5f5;
    color: #333333;
    border-bottom: 1px solid #e1e1e1;
    margin: 3px;
    align-items: center;
    padding: 5px 8px;
    transition: background-color 0.1s ease;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background-color: #e1e1e1;
    }
    .filter-txt {
      position: absolute;
      margin-left: 15px;
      text-overflow: ellipsis;
      top: 4px;
      &.user-filter {
        left: 20px;
      }
    }
    .status-circle {
      position: absolute;
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid;
      border-radius: 50%;
      margin-right: 5px;
      flex: 0 0 auto;
    }
  }
}
