.group-preview-container {
  .expand-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 3px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: 8px;
    left: -10px;
    margin: 0;

    .expand-arrow {
      color: white;
      font-size: 0.6rem;
    }
  }

  .group-preview {
    background: #d3d3d347;
    border-radius: 4px;
    padding: 0 1rem 0 1rem;
    flex-wrap: wrap;
    min-height: 40px;
    min-width: 1100px;
    margin-bottom: 20px;

    .group-actions-container .expand-btn-container {
      position: absolute;
      top: 2px;
      left: -10px;
    }
    .fa-icon-act {
      font-size: 0.6rem;
      padding: 5px;
      color: #ffffff;
      position: absolute;
      top: 0px;
      left: 0px;
      &:hover {
        color: rgb(77, 77, 77);
      }
    }
    .progress-bar-section {
      margin-top: -15px;
      margin-bottom: 15px;
      width: 100%;
      justify-content: flex-end;
      padding-right: 142px;
      .progressbar {
        width: 105px;
        margin-right: 7px;
        .item-progressbar:hover {
          transition-duration: 0.3s;
          transform: scale(1.2);
        }
      }
    }

    .group-headers {
      padding-bottom: 1rem;
      &.group-name {
        font-family: 'roboto-light';
        font-size: rem(15px);
        color: rgb(17, 21, 27);
        display: inline-block;
        margin: 0;
        padding: 0;
      }
    }
    &.expanded {
      background-color: transparent;
    }
    .headers {
      font-size: rem(13px);
      .list-title {
        width: 120px;
        text-align: center;
        &.date {
          width: 135px;
        }
      }
    }
  }
  @keyframes expand-menu {
    0% {
      opacity: 0;
      top: 5px;
    }
    100% {
      opacity: 1;
      top: 15px;
    }
  }
}
