.label-picker {
    position: absolute;
    border: 1px solid white;
    border-radius: 4px;
    width: 130px;
    min-height: 230px;
    background-color: #ffffffd4;
    z-index: 1;
    >* {
        height: 40px;
        padding: 1rem;
        margin: 1rem;
        border-radius: 4px;
    }
}