.nav-menu {
  background-color: #292f4c;
  min-height: 100vh;
  width: rem(60px);
  padding: rem(15px);
  .top-nav > *:not(:last-child) {
    margin-bottom: 8px;
  }
  .bottom-nav > *:not(:last-child) {
    margin-bottom: 8px;
  }
  .nav-icon-container {
    border-radius: 0 8px 8px 0;
    width: 54px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  // The width should change to min-width because the boardAPP should push it aside
  .nav-logo img {
    width: rem(45px);
    height: rem(45px);
  }
  .user-greeting {
    transform: rotate(270deg);
    padding: rem(8px) rem(15px);
    background-color: #00ca73;
    color: #fefefe;
    font-size: rem(18px);
    font-weight: 600;
    margin-left: -35px;
    border-radius: 0 0 rem(20px) rem(20px);
    width: 9.75rem;
    text-align: center;
    text-overflow: ellipsis;
    cursor: default;
  }

  .nav-icon {
    cursor: pointer;
    font-size: rem(20px);
    color: white;
    margin: rem(10px);
    &.logout {
      transform: rotate(180deg);
    }
    &.profile {
      font-size: rem(30px);
      color: #f0284e;
      border: 3px solid white;
      border-radius: 50%;
      background-color: white;
    }
  }
}
