.nav-menu {
  background-color: #292f4c;
  height: 100%;
  min-width: rem(65px);
  max-width: rem(65px);
  padding: 10px 0;
  .top-nav > *:not(:last-child) {
    margin-bottom: 8px;
    .notif-amount {
      position: absolute;
      color: #313131;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: white;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.7rem;
      right: -4px;
      top: -2px;
    }
  }
  .bottom-nav > *:not(:last-child) {
    margin-bottom: 8px;
  }
  .user-profile {
    display: flex;
    justify-content: center;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    .user-menu {
      left: 55px;
      bottom: 25px;
      top: unset;
    }
    .user-img {
      width: 35px;
      border-radius: 50%;
      border: 1px solid white;
    }
  }
  .nav-icon-container {
    width: 50px;
    height: 38px;
    display: flex;
    position: relative;
    border-radius: 0 8px 8px 0;
    justify-content: flex-end;
    align-items: center;
    padding-right: 9px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
    &:active {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }

  // The width should change to min-width because the boardAPP should push it aside
  .nav-logo img {
    width: rem(45px);
    height: rem(45px);
  }
  .user-greeting {
    position: absolute;
    z-index: 10;
    transform: rotate(-90deg);
    background-color: #00ca73;
    color: #fefefe;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 0 0 1.25rem 1.25rem;
    width: 9.75rem;
    text-align: center;
    text-overflow: ellipsis;
    cursor: default;
    left: -65px;
    top: 50%;
    height: 25px;
    .inner-text {
      max-width: 8rem;
      overflow: hidden;
    }
  }

  .nav-icon {
    cursor: pointer;
    height: 20px;
    width: 20px;
    font-size: rem(22px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &.logout {
      transform: rotate(180deg);
    }
    &.profile {
      font-size: rem(30px);
      color: #f0284e;
      border: 3px solid white;
      border-radius: 50%;
      background-color: white;
    }
  }

}
