.popup-menu {
  position: absolute;
  background-color: white;
  z-index: 5;
  border-radius: rem(10px);
  box-shadow: 0 4px 17px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 284px;
  left: 0;
  top: 30px;
//   &.expanded {
//     animation: expand-menu 0.2s;
//   }
  .menu-item {
    padding: 4px 8px;
    width: 100%;
    cursor: pointer;
    &:hover {
      background-color: #e6e9ef;
      border-radius: 5px;
    }
    .menu-item-txt {
      margin-left: 10px;
      font-size: 0.9rem;
    }
    .menu-item-icon {
      background-color: #706f6f;
      border-radius: 50%;
      color: white;
      width: 20px;
      height: 20px;
      i {
        font-size: 0.6rem;
        padding: 5px;
        color: #ffffff;
      }
    }
    .el-divider--horizontal {
      margin: 0;
    }
  }
//   @keyframes expand-menu {
//     0% {
//       opacity: 0;
//     //   top: 10px;
//     }
//     100% {
//       opacity: 1;
//     //   top: 30px;
//     }
//   }
}
