.popup-menu {

    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 10px;
    z-index: 50;
    border-radius: rem(8px);
    box-shadow: 0 3px 10px -5px #484444;
    padding: 5px;
    .menu-item {
        font-size: rem(15px);
        margin: 5px;
        cursor: pointer;
    }
}