.task-details-section {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100vh;
  background-color: whitesmoke;
  width: 570px;
  box-shadow: 0px 0px 10px 0px #999;
  padding: 0 20px;
  .el-tabs__item {
    transition-duration: 0.4s;
  }
  .cls-btn {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 15px;
    i {
      cursor: pointer;
      font-size: 1rem;
      color: rgb(143, 143, 143);
      &.hover {
        color: rgb(58, 58, 58);
      }
      .fas {
        font-weight: 500;
      }
    }
  }
  .task-title-container {
    margin-top: 50px;
    .task-title {
      font-size: rem(22px);
      font-family: 'roboto-regular';
      overflow: hidden;
      height: 30px;
      max-width: 500px;
    }
  }

  .task-post-txt {
    font-weight: bold;
  }
  .posts-list {
    height: 78vh;
    overflow: auto;
  }
}
