.task-details-section {
  position: absolute;
  top:0;
  right: 0;
  z-index: 10;
  height: 100vh;
  background-color: whitesmoke;
  width: 570px;
  box-shadow: 0px 0px 10px 0px #999;
  padding-right: rem(20px);
  padding-left: rem(24px);

  .el-tabs__item{
    transition-duration: 0.4s;
  }
  .top-bar {
    text-align: left;
    .cls-btn {
      background-color: transparent;
      padding: 0px;
      margin: 0.5rem 0;
    }
    i{
      cursor: pointer;
      font-size: 1.1rem;
    }
    .task-title{
      font-size: rem(22px);
      font-family: 'roboto-regular';
    }
  
  }
}

.task-post-txt {
  font-weight: bold;
}
.posts-list
{
  height: 78vh;
    overflow: auto;
}
