.task-details-section {
  position: absolute;
  top:0;
  right: 0;
  z-index: 10;
  height: 100vh;
  background-color: white;
  width: 570px;
  box-shadow: 0px 0px 10px 0px #999;
  padding-right: rem(20px);
  padding-left: rem(24px);

  .top-bar {
    text-align: left;
  }
}

.task-post-txt {
  font-weight: bold;
}
.posts-list
{
  height: 78vh;
    overflow: auto;
}
