.task-list {
  margin-bottom: rem(30px);

  form {
    .add-task-input {
      width: 100%;
      height: 35px;
      // flex: 1 1 auto;
      border-radius: 0;
      border: 1px solid;
      border-color: #e6e9ef;
      background-color: #ffffff;
      font-size: 14px;
      outline: none;
      font-weight: 400;
      padding-left: 20px;
      padding-top: 5px;
      text-align: left;

      &:focus {
        border: 1px solid $clr1;
      }
    }
    button {
      color: #fff;
      border-color: #0085ff;
      background-color: #0085ff;
      outline: none;
      border: 0;
      padding: 0 12px;
      border-right: 1px solid;
      border-right-color: #ffffff;
      margin: 0;
      border-radius: 0;
    }
  }
  .task-color {
    width: 7px;
    margin-right: 1px;
    height: 35px;
  }
}
