.task-preview {
  display: flex;
  background-color: #f1f1f1;
  margin-bottom: 1px;
  height: 40px;
  border-radius: 1px;
  box-shadow: 0 3px 4px -5px #484444;
  transition: background-color 0.3s;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: #f3f3f3;
  }

  span {
    display: flex;
    align-items: center;
    // width: 100%;
  }
  span,
  input {
    width: 120px;
    min-height: 42px;
    display: flex;
    justify-content: center;
    border: 0.5px solid white;
    &.status,
    &.priority {
      // margin: rem(2px);
      &:hover {
        cursor: pointer;
        box-shadow: inset 0 0 100px 100px hsla(0, 0%, 100%, 0.3);
      }
    }
  }
  .task-txt {
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    justify-content: end;
    padding-left: 10px;
  }

  .fa-icon {
    font-size: 1.2rem;
    color: #a8a8a8;
    transition: 0.3s;
    &:hover {
      color: #0085ff;
      cursor: pointer;
    }
  }
  .date-input {
    width: 200px;
    border: none;
  }
}
