.task-activities {
    height: 90vh;
    overflow: auto;
  > *:not(:last-child) {
    // margin-bottom: 1rem;
    border-bottom: 1px solid gray;
    position: relative;
  }
  .activity {
    padding: 10px;
    > * {
      margin-right: 8px;
    }
    .activity-date {
      font-weight: bold;
    }
    .profile-img {
      width: 40px !important;
      height: 40px !important;
    }
    .username {
      position: absolute;
      font-size: 0.8rem;
      z-index: 5;
      background-color: rgb(255, 255, 255);
      border-radius: 4px;
      padding: 5px;
      border: 1px solid whitesmoke;
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.3s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
}
