.user-details{

.header-user-profile{
    margin-bottom: rem(50px);
    min-height: rem(200px);
    background-color: $clr1;
    .img-profile{
        margin-bottom: rem(30px);
        .profile-img{
            border: 3px solid white;
            border-radius: 50%;
        }
    }
    .mail{
        color:white;
        font-size: rem(25px);
    }
  
}
.msg-user{
    margin-bottom: rem(18px);
}
.user-content{

    .user-details-info{
        h2{
           font-weight: 100; 
        }
        .title-details{
            margin-right: rem(5px);
        }
    }
}
}
