.board-list {
    background-color: white;
    // opacity: 1;
    height: 100%;
    width: rem(255px);
    border-top-left-radius: rem(15px);
    margin-left: rem(-15px);
    padding: 0 rem(15px);

    .board-list-search {
        margin: rem(20px);
        border: 0;
        border-bottom: 2px solid hsla(0, 0%, 42.7%, .419608);
        background-color: transparent;
    }

    .top-bar {
        margin-top: 35px;
    }

    .top-line{
        margin-left: 35%;
    }

    .board-item {
        padding: 0 8px;
        margin-top: rem(13px);
    }

    .board-list-icon{
        // color: black;
        // background-color: white;
        font-size: 30px;
    }
}