.nav-menu {
    background-color: #292f4c;
    min-height: 100vh;
    width: 120px;
    padding: 15px;

    // The width should change to min-width because the boardAPP should push it aside

    .user-greeting {
        transform: rotate(270deg);
        padding: 10px 20px;
        background-color: #00ca73;
        color: #fefefe;
        font-size: 1.3rem;
        font-weight: 700;
        //To be updated FONT FAMILY
        margin-left: -60px;
        border-radius: 0 0 20px 20px;
        max-width: 300px;
        text-align: center;
        text-overflow: ellipsis;
        cursor: default;
    }

    .nav-icon {
        font-size: 30px;
        color: white;
    }

    .top-bar {
        // max-height: 300px;
    }

    .middle-bar{
        // min-height: 300px;

    }

}